extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 Super interesting title
              |                 
              hr
              |                 
              p
                | Vinyl drinking vinegar synth plaid. Butcher you probably haven't heard of them chartreuse kitsch, fixie authentic slow-carb banjo art party intelligentsia ennui chia artisan banh mi flannel. Shoreditch mlkshk bushwick, cardigan gluten-free gastropub chambray lumbersexual cred venmo hoodie hashtag.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') Do something awesome
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Decent subtitle
                |                     
                hr.light
                |                     
                p.text-faded
                  | Labore XOXO kogi, laborum tousled assumenda sriracha before they sold out. Labore mlkshk Helvetica Marfa health goth Austin magna sunt, yr aesthetic artisan heirloom chillwave commodo lo-fi.
                |                     
                a.btn.btn-default.btn-xl(href='#') Do something
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Hey, what's up, hello?
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
                  |                         
                  h3 A title
                  |                         
                  p.text-muted Vinyl drinking vinegar synth plaid. Butcher you probably haven't heard of them chartreuse kitsch, fixie authentic slow-carb banjo art party intelligentsia
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Another title
                  |                         
                  p.text-muted Vinyl drinking vinegar synth plaid. Butcher you probably haven't heard of them chartreuse kitsch, fixie authentic slow-carb banjo art party intelligentsia
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 H3 tag
                  |                         
                  p.text-muted Vinyl drinking vinegar synth plaid. Butcher you probably haven't heard of them chartreuse kitsch, fixie authentic slow-carb banjo art party intelligentsia
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Jade is cool
                  |                         
                  p.text-muted Vinyl drinking vinegar synth plaid. Butcher you probably haven't heard of them chartreuse kitsch, fixie authentic slow-carb banjo art party intelligentsia
        |     
        aside.bg-dark
          .container.text-center
            .call-to-action
              h2 Meet someone like you!
              |                 
              a.btn.btn-default.btn-xl.wow.tada(href='#') Free trial
        | 
        section#portfolio.no-padding
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/1.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Someone special
                      |                                 
                      .project-name
                        | Brett Oberg
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/2.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Someone special
                      |                                 
                      .project-name
                        | Brett Oberg
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/3.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Someone special
                      |                                 
                      .project-name
                        | Brett Oberg
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/4.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Someone special
                      |                                 
                      .project-name
                        | Brett Oberg
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/5.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Someone special
                      |                                 
                      .project-name
                        | Brett Oberg
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/6.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Someone special
                      |                                 
                      .project-name
                        | Brett Oberg
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Who we are
                |                     
                hr.primary
                |                     
                p
                  | This was based off of a Treehouse Project.
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p 800-4Fit-Log
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p
                  a(href='#') Email me
